# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
tfplan
*.tfplan
crash.log
override.tf
override.tf.json

# Packer
packer-manifest.json
*.pkrvars.hcl

# Ansible
*.retry
.vault_pass

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Secrets
.env
*.pem
